<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25831032419-086picnvfci5u1bkn1c0gpova4mkmm22.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25831032419-086picnvfci5u1bkn1c0gpova4mkmm22</string>
	<key>API_KEY</key>
	<string>AIzaSyB_N_F8FseQvYFaDwXlRtaJJ2juzTYiwRY</string>
	<key>GCM_SENDER_ID</key>
	<string>25831032419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lwu5.restrogram</string>
	<key>PROJECT_ID</key>
	<string>restrogram-63115</string>
	<key>STORAGE_BUCKET</key>
	<string>restrogram-63115.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25831032419:ios:b11497b13ade20672b5a56</string>
</dict>
</plist>